<%= link_to 'Back', projects_path %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <%= image_tag @project.image.url(:medium) %>
      </div>
      <div class="panel-body">
        <p><%= @project.description %></p>
        <p><strong><%= @project.user.email if @project.user %></strong></p>

        <% if @project.user == current_user %>
         <%= link_to 'Edit', edit_project_path(@project) %>
        <% end %>

      </div>
    </div>
  </div>
</div>
